services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: furniture
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - '5432:5432'
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
  mailhog:
    image: mailhog/mailhog:latest
    ports:
      - "1025:1025"   # SMTP
      - "8025:8025"   # Web UI
  api:
    build: .
    depends_on:
      db:
        condition: service_healthy
    environment:
      SMTP_HOST: mailhog
      SMTP_PORT: 1025
    ports:
      - "8000:8000"